@media screen and (max-width: 3000px) and (min-width:611px){ 
    body{ 
        font-family: "Roboto", sans-serif;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px 50px 25px black;
        background: linear-gradient(-5deg, #99e2d0, #9356dc);
    }
    .image-presentation {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
